@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Acme Corporation</h1>
  <p>
    welcome to Acme webshop, we have the classics <b>superbomb</b>, <b>earthquake pills</b>, <b>magnet</b>, <b>dynamite</b> and <b>jet-propelled unicycle.</b><br />
    Check out our new <b>hi-speed tonic</b>
  </p>

  <h3>participate in our @Html.ActionLink("Draw", "Index", "Draw") this month</h3>
  <p>to win a lifetime of our classic <b>earthquake pills</b></p>

</div>
