@model List<Acme.DataLayer.Models.Participant>
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">registered Participant</h1>

  <table style="width:100%" id="products">
    <thead>
      <tr>
        <td>
          Firstname
        </td>
        <td>
          Lastname
        </td>
        <td>
          Email
        </td>
        <td>
          DateOfBirth
        </td>
      </tr>
    </thead>
    <tbody>
      @foreach (var participant in Model)
      {
        <tr>
          <td>
            @participant.Firstname
          </td>
          <td>
            @participant.Lastname
          </td>
          <td>
            @participant.Email
          </td>
          <td>
            @participant.DateOfBirth.ToString("dd-MM-yyyy")
          </td>
        </tr>
      }
    </tbody>
  </table>

</div>
